tbody  td{
    color:white
}

thead{
    color:white
}

table{
    background-color:#001d2b

}

h3 {
    color:white
}

.open-model{
    margin-left: auto;
    display: block;
    margin-bottom:20px;
    background-color:#007bff;
    color:aliceblue;
}

.open-model:hover{
    background-color:#024e9e;
}

.dash-icon::before{
    top: 10px;
    right:20px;
    font-size:30px;
    color:#079be3;
    margin-right: 40px;
}